* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
}
button {
  cursor: pointer;
}
.events-and-results-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
}
.all-events-container {
  background-color: #323f4b;
  color: white;
  padding: 25px;
}
.events-heading {
  margin-bottom: 20px;
}
.event-un-order-lists {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.event-result-container {
  padding: 25px;
}
.event-result-container {
  color: #64748b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-width: 400px;
}
.no-event-available {
  align-self: flex-start;
}
