.event-lis-items {
  margin: 10px;
  width: 200px;
  height: 250px;
}
.item-button {
  background: none;
  border: none;
  color: white;
  text-align: left;
}

.event-img-control {
  width: 100%;
  margin-bottom: 5px;
}
.item-heading {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 6px;
}
.active-item-style {
  border: 1px solid #2dd4bf;
  border-radius: 5px;
}
