.event-lis-items {
  margin: 10px;
  width: 250px;
  height: 250px;
  padding: 5px;
}
.item-button {
  background: none;
  border: none;
  color: white;
  text-align: left;
}

.event-img-control {
  width: 100%;
  margin-bottom: 5px;
}
.item-heading {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 6px;
}
